<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>

<div th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">My Store</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/item-list}">Item List</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mr-3">
                    <a class="nav-link" th:href="@{/cart}">Cart</a>
                </li>

                <li class="nav-item mr-3" style="margin-right: 10px"
                    th:if="${#authentication.principal == 'anonymousUser'}">
                    <a th:href="@{/login}" class="btn btn-outline-primary">Login</a>
                </li>
                <li class="nav-item" style="margin-right: 10px" th:if="${#authentication.principal == 'anonymousUser'}">
                    <a th:href="@{/register}" class="btn btn-outline-success">Register</a>
                </li>

                <li class="nav-item mr-3" th:if="${#authentication.principal != 'anonymousUser'}">
                    <span class="nav-link">
                         <span th:text="${#authentication.name}"></span>
                        <small th:each="auth : ${#authentication.authorities}"
                               th:text="${auth.getAuthority()}"></small>
                        </span>
                </li>


                <li class="nav-item ml-3" th:if="${#authentication.principal != 'anonymousUser'}">
                    <a th:href="@{/logout}" class="btn btn-outline-danger">Logout</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto" style="margin-left: auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/cart}">
                        <i class="fas fa-shopping-cart"></i>
                        <span th:if="${cartItemsCount > 0}" class="badge badge-pill badge-primary"
                              style="background-color: blue;" th:text="${cartItemsCount}"></span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>

</body>
</html>
